# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv) and [cars2](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv).

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [9]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [7]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [8]:
cars = cars1.append(cars2)
cars

C:\Users\PC\AppData\Local\Temp\ipykernel_6512\3958165173.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars = cars1.append(cars2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [10]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([69076, 58825, 35101, 37481, 34980, 26455, 18629, 40071, 57473,
       24812, 32196, 43505, 51605, 28964, 59384, 18088, 31330, 19731,
       68016, 32895, 39144, 65987, 17651, 25330, 63231, 29948, 57809,
       35001, 57168, 45650, 31801, 37614, 52300, 30536, 45415, 52438,
       62883, 47181, 37265, 30649, 41407, 51867, 70378, 29762, 51818,
       50930, 28618, 46506, 72271, 18191, 45318, 29994, 21874, 20649,
       53338, 53538, 26627, 66933, 28062, 37198, 21599, 33107, 15937,
       50840, 63184, 44235, 39290, 42828, 50000, 42515, 30369, 30757,
       17615, 20028, 67938, 17480, 65781, 36745, 40532, 61441, 33554,
       22718, 65182, 42529, 18826, 70669, 53222, 26856, 38395, 40641,
       34787, 16171, 35367, 29998, 16192, 30198, 32706, 48282, 49363,
       45790, 43086, 56639, 18823, 65586, 58270, 21425, 49430, 35198,
       23322, 62345, 43309, 60080, 33740, 37331, 62300, 34288, 26836,
       38181, 64020, 45638, 35546, 70350, 47989, 21019, 66931, 41947,
       48043, 16891, 45264, 53379, 22417, 64088, 28787, 20386, 71362,
       41293, 42846, 51295, 22750, 31287, 34191, 24693, 53701, 43069,
       17575, 55811, 32148, 52139, 57230, 70921, 21511, 37571, 53883,
       39448, 63021, 32445, 28630, 67282, 46740, 70948, 61914, 67831,
       37693, 66178, 56175, 46320, 58550, 37649, 32253, 39182, 47314,
       47422, 22520, 26362, 18488, 72149, 38966, 54346, 44773, 18314,
       36046, 42535, 45961, 72123, 46652, 48133, 37664, 20736, 46999,
       58833, 47639, 72294, 23049, 16058, 53154, 48263, 26095, 24696,
       26617, 41604, 60621, 66033, 17202, 37317, 32356, 47767, 24710,
       47800, 66750, 39697, 62535, 15467, 66862, 68069, 52391, 43409,
       69389, 34030, 52257, 70086, 15241, 67696, 29276, 30734, 15588,
       17528, 15264, 33236, 22178, 68707, 50157, 40765, 41926, 61819,
       21179, 48975, 70283, 24336, 35323, 50981, 66374, 16285, 64109,
       68845, 42731, 38989, 28919, 52717, 19492, 70319, 21324, 39130,
       70185, 45855, 72778, 27309, 40307, 66561, 19686, 31872, 21514,
       22714, 63217, 28611, 68492, 64735, 26790, 35550, 17381, 51546,
       30744, 54331, 57616, 28107, 22039, 60620, 32944, 52383, 44629,
       39807, 30769, 25410, 66389, 32135, 59258, 69046, 42088, 57745,
       67742, 71929, 19877, 54673, 50234, 53367, 56110, 29118, 23531,
       69215, 27932, 62003, 35031, 53416, 15510, 36220, 61310, 68241,
       40602, 39236, 17221, 47776, 30561, 35750, 49456, 44753, 61387,
       15544, 36524, 60846, 55642, 34027, 61231, 19179, 37170, 62962,
       28292, 15942, 63461, 38276, 70360, 58260, 60680, 31491, 45435,
       42690, 22018, 16101, 42036, 26242, 39626, 46627, 38967, 46640,
       47954, 62837, 20813, 65837, 46516, 54907, 62861, 57331, 40661,
       66626, 44401, 42596, 58419, 27444, 33808, 34493, 68548, 40419,
       66189, 47605, 17691, 65306, 56935, 18651, 29984, 68518, 61203,
       24125, 39261, 34518, 55359, 40118, 35001, 26011, 17921, 31310,
       54966, 33622, 59075, 50576, 58045, 41435, 23257, 36432, 41437,
       48471, 62000, 68686, 46369, 51646, 68534, 36699, 51507, 69535,
       57562, 48227])

### Step 8. Add the column owners to cars

In [11]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,36699
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,51507
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,69535
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,57562
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,48227